<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ base_url() }}/asset/css/reset.css">
    <link rel="stylesheet" href="{{ base_url() }}/asset/xcrud/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/asset/xcrud/plugins/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/asset/xcrud/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/asset/xcrud/plugins/timepicker/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" href="{{ base_url() }}/asset/css/core.css">
    <title>FP Coupon !</title>
</head>
<body>
<style>
    body {
        background: #016836;
    }
</style>
{% block body %}

{% endblock %}

<script src="{{ base_url() }}/asset/xcrud/plugins/jquery.min.js"></script>
<script src="{{ base_url() }}/asset/xcrud/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ base_url() }}/asset/xcrud/plugins/timepicker/jquery-ui-timepicker-addon.js"></script>
<script src="{{ base_url() }}/asset/js/notify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.14.0/printThis.min.js"></script>
<script type="text/javascript">
    $(function () {

    });
</script>
{% block script %}

{% endblock %}
{% block xcrud %}

{% endblock %}
</body>
</html>